body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;   /* Centraliza verticalmente */
    height: 100vh;         /* Altura da viewport */
    margin: 0;
}


input:not([type="radio"]),select {
    width: 100%; /* O input ocupará 100% da largura do elemento pai */
    box-sizing: border-box; /* Inclui padding e borda dentro da largura total */
}

.ampliado {
    width: 100%; /* O textarea preencherá 100% da largura do contêiner */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    height: 150px; /* Define uma altura fixa */
}