body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;   /* Centraliza verticalmente */
    height: 100vh;         /* Altura da viewport */
    margin: 0;
    background-color: gray;
}

.wide-container{
    height: 100vh;
}

input:not([type="radio"]),select {
    width: 100%; /* O input ocupará 100% da largura do elemento pai */
    box-sizing: border-box; /* Inclui padding e borda dentro da largura total */
}

.ampliado {
    width: 100%; /* O textarea preencherá 100% da largura do contêiner */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    height: 100px; /* Define uma altura fixa */
}


/* Estilo das abas */
.tab-container {
    display: flex;
    height: 100%;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: rgb(128, 128, 128);
    transition: background-color 0.3s;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: rgb(202, 186, 255);
    font-weight: bold;
    text-align: center;
}

/* Estilo do conteúdo */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(191, 189, 189);
}

.tab-content.active {
    display: block;
}